<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel = 'stylesheet'  href="{% static 'css/set3.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icon1.jpg' %}" type="image/jpg" />
    <title>МТ</title>
</head>
<body>
<button onclick="window.location.href ='/';">Выход</button>
<p class="definitions"><i>
            Введите количество случайных точек. Оптимальный вариант - от 5000 до 10000.<br/>
            Полученный 3D график откроется в новом окне.<br/>
            Его можно масштабировать и просматривать под разными углами.<br/>
            Для этого используйте колсеко мышки и кнопки навигации.<br/><br/>
            Примерный результат на 7000 точек:
            </i>

<form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
    <table>
        {{ w3d }}
    </table>
    <input type="submit" value="Построить" hspace="55" vspace="10">
</form>
<center><img src="{% static 'images/3dvis.png' %}" height="500", width="500"  ></center>
</body>
</html>